/*
----------------------------------------
Tantek Celik's Whitespace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of browsers to a common base
----------------------------------------
*/

ul, ol { list-style: none; }
h1, h2, h3, h4, h5, h6, pre, code { font-size: 1em; }
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote,
fieldset, input, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0;
}
a img, :link img, :visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main {
  display: block;
}
mark {
  color: inherit;
  background-color: transparent;
}
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

/*
My CSS
*/
body {
  font-size: 24px;
  font-family: "Lato", sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Roboto", sans-serif;
  font-weight: 9000;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

header > a {
  padding: 5px;
}

article {
  display: flex;
  flex-direction: column;
  text-align: center;
}

article > section {
  height: 900px;
}

article > section > *:first-child {
  padding-top: 300px;
}

section.profile {
  background-color: #9CC3D5FF;
}

section.main_project {
  background-color: #0063B2FF;
}

section.other_projects {
  background-color: #9CC3D5FF;
}

section.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section > p {
  width: 50%;
  margin: auto;
}

footer {
  background-color: #0063B2FF;
  height: 300px;
  text-align: center;
}

footer > p {
  padding: 30px;
  font-weight: 900;
}

footer > a {
  padding: 30px;
}

header img {
  width: 30px;
}

footer img {
  width: 60px;
}
