/*
----------------------------------------
Tantek Celik's Whitespace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of browsers to a common base
----------------------------------------
*/

ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
  font-size: 1em;
}
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input,
dl,
dt,
dd,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
a img,
:link img,
:visited img,
fieldset {
  border: none;
}
address {
  font-style: normal;
}
header,
section,
article,
nav,
footer,
hgroup,
details,
summary,
figure,
main {
  display: block;
}
mark {
  color: inherit;
  background-color: transparent;
}
abbr {
  border: none;
}
summary::-webkit-details-marker {
  display: none;
}

/*
My CSS
*/

:root {
  --color-purple: #1a1053;
  --color-maroon: #b82a52;
  --color-yellow: #f7a240;
  --color-black: #000000;
  --color-white: #f7f7f7;
}
body {
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
  font-weight: 9000;
  color: var(--color-maroon);
}

h2 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}

a {
  color: var(--color-maroon);
  text-decoration: none;
}

a:hover {
  color: var(--color-purple);
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

header > a {
  padding: 5px;
}

article {
  display: flex;
  flex-direction: column;
  text-align: center;
}

article > section {
  height: 750px;
}

section {
  background-color: var(--color-white);
}

section > p {
  margin: auto;
}

section.profile {
  padding-top: 50px;
}

section p {
  line-height: 1.5;
  padding: 20px;
  width: 750px;
}

section.profile img {
  border-radius: 50%;
  width: 250px;
}

section.stagehand {
  background-color: var(--color-yellow);
  height: 1200px;
}

section.stagehand section {
  background-color: var(--color-yellow);
}

section.stagehand_subcontainer{
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#stagehand_logo {
  display: block;
  margin: auto;
  width: 500px;
}

section.stagehand_details p{
  text-align: left;
}

#arch {
  width: 900px;
}


#button {
  background-color: var(--color-maroon);
  box-shadow: 5px 5px 5px var(--color-purple);
  border: none;
  color: white;
  margin-top: 50px;
  padding: 20px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

#button:hover {
  background-color: var(--color-purple);
}


section.other_projects h2 {
  padding: 50px;
}

section.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section.project {
  width: 33%;
}

section.project img {
  width: 500px;
  box-shadow: 5px 5px 5px var(--color-purple);
}

section.project p {
  width: 600px;
  margin: auto;
  color: var(--color-black);
  font-size: 1.5rem;
}

footer {
  background-color: var(--color-yellow);
  height: 300px;
  text-align: center;
  padding-top: 100px;
}

footer > h4 {
  padding: 30px;
}

footer > a {
  padding: 30px;
}

header img {
  width: 30px;
}

footer img {
  width: 60px;
}

ul,
ol {
  list-style: inside;
}

footer a img, header a img {
  width: 50px;
  background-color: var(--color-maroon);
  border-radius: 50%;
  box-shadow: 5px 5px 5px var(--color-purple);
}

footer a img:hover, header a img:hover {
  background-color: var(--color-purple);
}